@use "@/styles/variables.scss";
@use "@/styles/partials.scss";
@use "@/styles/mixins.scss";

@import "@/styles/variables.scss";
@import "@/styles/partials.scss";
@import "@/styles/mixins.scss";

.container {
  @include flexCentering();

  z-index: 2;

  h1 {
    font-family: $primary-font;
    font-size: 3.5rem;
    font-weight: 400;
    opacity: 0.75;
    color: $content-light-colour;
    text-shadow: -1px 0 $content-light-colour, 
                  0 1px $content-light-colour, 
                  1px 0 $content-light-colour, 
                  0 -1px $content-light-colour;
  }
}