.expandBarCont {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: -1;

  min-width: 100vw;
  min-height: 100vh;
}

/* HEADER ============================================= */

.header {
  position: fixed;
  inset: 5rem;
  
  opacity: 0;

  z-index: 2;

  animation: fadeNavIn var(--fadeNavIn-animation-time) 2000ms forwards;
}

.navColumn:hover a {
  /* filter: blur(0.05rem); */
  transform: scale(1);
}

.navColumn:hover a:hover {
  /* filter: blur(0); */
  transform: scale(1.1);
}

@keyframes fadeNavIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* CONTENT BORDER ANIMATION =========================== */

.contentCont {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  min-width: 95vw;
  min-height: 90vh;
  max-width: 95vw;
  max-height: 90vh;

  z-index: 1;
  
  border: 0.33rem solid white;
}

.contentCont.contentContAnimate {
  background-color: transparent;
}

.contentCont::before,
.contentCont::after {
  content: "";
  display: none;
  position: absolute;

  background-color: #2B2D2F;

  z-index: 1;
}

.contentCont::before {
  width: 95vw;
  height: 0vh;

  animation: revealHomeContentY var(--revealHomeContent-animation-time) 1500ms;
  animation-fill-mode: forwards;
}

.contentCont::after {
  width: 0vw;
  height: 90vh;

  animation: revealHomeContentX var(--revealHomeContent-animation-time) 1500ms;
  animation-fill-mode: forwards;
}

.contentCont.contentContAnimate::before,
.contentCont.contentContAnimate::after {
  display: block;
}

@keyframes revealHomeContentX {
  100% {
    width: 90vw;
    height: 90vh;
  }  
}

@keyframes revealHomeContentY {
  100% {
    width: 95vw;
    height: 80vh;
  }
}

/* CONTENT BORDER CONTAINER end ======================== */

/* REAL CONTENT WRAPPER ================================ */

.realContentCont {
  display: flex;
}

/* WELCOME CONT MSG ==================================== */

.welcomeCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 2s;

  z-index: 2;
}

.welcomeCont h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  color: var(--content-light-colour);
  
  margin: 0;

  width: auto;
  max-width: 0%;
  overflow: hidden;
  white-space: nowrap;

  opacity: 1;

  animation: fadeHelloIn var(--fadeHelloIn-animation-time) ease-out 2000ms forwards;
}

.welcomeCont h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: var(--content-light-colour);
  
  margin: 0;

  width: auto;
  max-width: 0%;
  overflow: hidden;
  white-space: nowrap;

  opacity: 1;

  animation: fadeHelloIn var(--fadeHelloIn-animation-time) ease-out 2500ms forwards;
}

@keyframes fadeHelloIn {
  from {
    max-width: 0%;
  }
  to {
    max-width: 100%;
  }
}

#period {
  opacity: 0;

  animation: blink 1s steps(2, jump-none) infinite;
}

@keyframes blink {
  to {
    opacity: 1;
  }
}