@use "@/styles/variables.scss";
@use "@/styles/partials.scss";
@use "@/styles/mixins.scss";

@import "@/styles/variables.scss";
@import "@/styles/partials.scss";
@import "@/styles/mixins.scss";

.expandBarCont {
  @include flexCentering();
  @include fillViewport();

  position: absolute;
  z-index: 1;
  background: none;
}

.mainCont {
  animation: bgChange 100ms 1500ms forwards;
}

@keyframes bgChange {
  to {
    background-color: $body-bg-colour;
  }
}

/* CONTENT BORDER ANIMATION =========================== */
.homeWrapper {
  @include fillViewport();
  @include flexCentering();

  .glass {
    position: absolute;
    min-width: 95vw;
    min-height: 90vh;
    max-width: 95vw;
    max-height: 90vh;
    background: linear-gradient(-135deg, #415a77, #1b263b, #0d1b2a, $body-bg-colour);
    background-size: 400% 400%;
    filter: blur(0.75rem);
    box-shadow: 0 0 1000px 0;
    z-index: 1;
    opacity: 0;

    animation: showOpacity 1.5s 2s ease forwards, bgGradient 15s 2.5s ease infinite;
  }

  .bg {
    @include fillViewport();

    position: absolute;
    background: linear-gradient(-135deg, #415a77, #1b263b, #0d1b2a, $body-bg-colour);
    background-size: 400% 400%;
    opacity: 0;
    z-index: 1;
    
    animation: showOpacity 1.5s 2s ease forwards, bgGradient 15s 2.5s ease infinite;
  }
}

.contentCont {
  @include flexCentering();

  position: relative;

  min-width: 95vw;
  min-height: 90vh;
  max-width: 95vw;
  max-height: 90vh;

  // background: linear-gradient(45deg, $body-bg-colour, #101218, #181C25, #202531);
  // background: linear-gradient(-45deg, $body-bg-colour, #101218, #946635, #FD8922);
  // background-size: 400% 400%;
  // box-shadow: inset 0.1rem 0 1rem 0rem $body-bg-colour,
  //             inset -0.1rem 0 1rem 0rem $body-bg-colour,
  //             inset 0 0.1rem 1rem 0rem $body-bg-colour,
  //             inset 0 -0.1rem 1rem 0rem $body-bg-colour;

  z-index: 1;
  opacity: 0;
  
  border: 0.33rem solid white;

  animation: showOpacity 500ms 1s ease forwards,
              hideBorder 1s 2s ease forwards;

  &::before {
    @include contentContPsuedo();

    width: 95vw;
    height: 0vh;
    
    box-shadow: inset 0.33rem 0 0 0 $body-bg-colour,
                inset -0.33rem 0 0 0 $body-bg-colour;

    // filter: blur(1rem);

    animation: revealHomeContentY var(--revealHomeContent-animation-time) 1500ms forwards,
                hideBoxShadow 1.25s 2.25s ease forwards;
  }

  &::after {
    @include contentContPsuedo();

    width: 0vw;
    height: 90vh;
    
    box-shadow: inset 0 0.33rem 0 0 $body-bg-colour,
                inset 0 -0.33rem 0 0 $body-bg-colour;

    animation: revealHomeContentX var(--revealHomeContent-animation-time) 1500ms forwards,
                hideBoxShadow 1.25s 2.25s ease forwards;
  }

  .scrollIcon {
    position: absolute;
    z-index: 2;
    bottom: 1rem;
  }
}

.contentCont.contentContAnimate {
  background-color: transparent;

  &::before, &::after {
    display: block;
    background: none;
    // filter: blur(10rem);

  }
}

@keyframes revealHomeContentX {
  100% {
    width: 90vw;
    height: 90vh;
  }  
}

@keyframes revealHomeContentY {
  100% {
    width: 95vw;
    height: 80vh;
  }
}

@keyframes showOpacity {
  to {
    opacity: 1;
  }
}

@keyframes hideBorder {
  // from {
  //   border: 0.33rem solid white;
  // }
  to {
    border: none;
  }
}

@keyframes hideBoxShadow {
  // from {
  //   box-shadow: inset 0.33rem 0 0 0 $body-bg-colour,
  //               inset -0.33rem 0 0 0 $body-bg-colour;
  // }
  to {
    box-shadow: none;
  }
}

@keyframes bgGradient {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* CONTENT BORDER CONTAINER end ===================== */

/* WORKS SECTION =================================== */
.worksWrapper {
  @include fillViewport();
  @include flexCentering();

  z-index: 0;
  opacity: 0;

  animation: revealWorksCont 1.5s 1.5s forwards;

  .glass {
    position: absolute;
    min-width: 95vw;
    min-height: 90vh;
    max-width: 95vw;
    max-height: 90vh;
    background: linear-gradient(-135deg, #1b263b, #0d1b2a, $body-bg-colour);
    background-size: 400% 400%;
    filter: blur(0.75rem);
    box-shadow: 0 0 1000px 0;
    z-index: 1;
    opacity: 0;

    animation: showOpacity 1.5s 2s ease forwards, bgGradient 15s 2.5s ease infinite;
  }

  .bg {
    @include fillViewport();

    position: absolute;
    background: linear-gradient(-135deg, #1b263b, #0d1b2a, $body-bg-colour);
    background-size: 400% 400%;
    opacity: 0;
    z-index: 1;
    
    animation: showOpacity 1.5s 2s ease forwards, bgGradient 15s 2.5s ease infinite;
  }
}

.worksCont {
  @include fillViewport();
  @include flexCentering();
  
  flex-direction: column;
  position: relative;

  min-width: 95vw;
  min-height: 90vh;
  max-width: 95vw;
  max-height: 90vh;
  
  border: 0.33rem solid white;

  &::before {
    @include contentContPsuedo();

    width: 95vw;
    height: 80vh;

    // animation: revealHomeContentY var(--revealHomeContent-animation-time) 1500ms;
    // animation-fill-mode: forwards;
  }

  &::after {
    @include contentContPsuedo();

    width: 90vw;
    height: 90vh;
  
    // animation: revealHomeContentX var(--revealHomeContent-animation-time) 1500ms forwards, bgGradientInitX 5s 3.5s ease forwards, bgGradientContinueX 15s 10s ease infinite;
  }

  .worksTitle {
    position: absolute;
    top: -2rem;
    z-index: 2;
  }
}

.worksCont.worksContAnimate {
  background-color: transparent;

  &::before, &::after {
    display: block;
  }
}

@keyframes revealWorksCont {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* WORKS SECTION end ===================== */

/* ABOUT SECTION =================================== */
.aboutWrapper {
  @include fillViewport();
  @include flexCentering();

  z-index: 0;
  opacity: 0;

  animation: revealWorksCont 1.5s 1.5s forwards;

  .glass {
    position: absolute;
    min-width: 95vw;
    min-height: 90vh;
    max-width: 95vw;
    max-height: 90vh;
    background: linear-gradient(-135deg, #1b263b, #0d1b2a, $body-bg-colour);
    background-size: 400% 400%;
    filter: blur(0.75rem);
    box-shadow: 0 0 1000px 0;
    z-index: 1;
    opacity: 0;

    animation: showOpacity 1.5s 2s ease forwards, bgGradient 15s 2.5s ease infinite;
  }

  .bg {
    @include fillViewport();

    position: absolute;
    background: linear-gradient(-135deg, #1b263b, #0d1b2a, $body-bg-colour);
    background-size: 400% 400%;
    opacity: 0;
    z-index: 1;
    
    animation: showOpacity 1.5s 2s ease forwards, bgGradient 15s 2.5s ease infinite;
  }
}

.aboutCont {
  @include fillViewport();
  @include flexCentering();
  
  flex-direction: column;
  position: relative;

  min-width: 95vw;
  min-height: 90vh;
  max-width: 95vw;
  max-height: 90vh;
  
  border: 0.33rem solid white;

  &::before {
    @include contentContPsuedo();

    width: 95vw;
    height: 80vh;

    // animation: revealHomeContentY var(--revealHomeContent-animation-time) 1500ms;
    // animation-fill-mode: forwards;
  }

  &::after {
    @include contentContPsuedo();

    width: 90vw;
    height: 90vh;
  
    // animation: revealHomeContentX var(--revealHomeContent-animation-time) 1500ms forwards, bgGradientInitX 5s 3.5s ease forwards, bgGradientContinueX 15s 10s ease infinite;
  }
}

.aboutCont.aboutContAnimate {
  background-color: transparent;

  &::before, &::after {
    display: block;
  }
}

.aboutContentWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100%;
  z-index: 2;

  &Left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &SocialsWrapper {
      display: flex;
      justify-content: space-between;
      max-width: 25rem;

      .socialIcons {
        width: 4rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &Right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    max-width: 66%;

    &Title {
      @include noMargins();

      font-family: $primary-font;
      font-size: 3rem;
      font-weight: 400;

      opacity: 0.75;
      color: $content-light-colour;
      text-shadow: -1px 0 $content-light-colour, 
                    0 1px $content-light-colour, 
                    1px 0 $content-light-colour, 
                    0 -1px $content-light-colour;
    }

    &Subtitle {
      @include noMargins();

      color: white;
      font-family: $primary-font;
      font-size: 2rem;
      font-weight: 300;
    }

    &Para {
      color: white;
      font-family: $primary-font;
      font-weight: 200;
    }
  }
  
  .headshot {
    max-width: 25rem;
    height: auto;
    border-radius: 1rem;
  }
}