@use "@/styles/variables.scss";
@use "@/styles/partials.scss";
@use "@/styles/mixins.scss";

@import "@/styles/variables.scss";
@import "@/styles/partials.scss";
@import "@/styles/mixins.scss";

.contentWrapper {
  padding: 0 3rem;
}

.worksWrapper {
  @include noMargins();
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;

  .leftWrapper {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding-right: 3.75rem;
    
    .works {
      &_text {
        padding-top: 15vw;
        padding-left: 5rem;

        @include screen-2xl {
          padding-top: 12.5vw;
        }

        @include screen-xl {
          padding-top: 11vw;
        }

        h4 {
          font: 400 4rem /2 $primary-font;
          color: $content-egg-colour;
          margin: 0;

          @include screen-2xl {
            font-size: 3rem;
          }

          @include screen-xl {
            font-size: 2.66rem;
          }
        }

        p {
          font: 300 1.5rem /1.33 $primary-font;
          color: $content-egg-colour;

          @include screen-2xl {
            font-size: 1.33rem;
          }

          @include screen-xl {
            font-size: 1.25rem;
          }
        }
      }

      &_logo {
        width: 100%;
        height: auto;
      }
    }
  }

  .rightWrapper {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding-left: 3.75rem;

    .works {
      &_text {
        padding-left: 5rem;

        h4 {
          font: 400 3rem /2 $primary-font;
          color: $content-egg-colour;
          margin: 0;

          @include screen-2xl {
            line-height: 1;
          }

          @include screen-xl {
            font-size: 2.5rem;
          }
        }

        ul {
          list-style-type: none;

          li {
            font: 300 1.5rem /1.5 $primary-font;
            color: $content-egg-colour;
            margin: 0;
          }
        }

        p {
          display: inline-block;
          font: 300 1.5rem /3 $primary-font;
          color: $content-egg-colour;
          margin: 0;

          @include screen-2xl {
            font: 300 1.33rem /1.33 $primary-font;
          }

          @include screen-xl {
            font-size: 1.25rem;
            line-height: 2;
          }

          &:hover {
            cursor: pointer;
            
            border-bottom: 1px solid $content-egg-colour;
          }
        }
      }

      &_logo {
        width: 100%;
        height: auto;
      }
    }
  }
}

.header_hr {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;

  display: block;
  height: 1px;
  padding: 0;
  width: 100%;
  border-top: 1px solid #FFFFFF;

  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-delay: 0ms;

  &_iv {
    transform-origin: left;
    transform: scaleX(1);
  }
}