@use "@/styles/variables.scss";
@use "@/styles/partials.scss";
@use "@/styles/mixins.scss";

@import "@/styles/variables.scss";
@import "@/styles/partials.scss";
@import "@/styles/mixins.scss";

.contentWrapper {
  padding: 0 3rem;
}

.worksSummaryWrapper {
  @include noMargins();
  width: 100%;
  padding-top: 5rem;

  &_summary {
    margin: 3.75rem 0 7.5rem;
  }

  #worksSummary_title {
    margin: 0;

    font-family: $primary-font;
    font-size: 8rem;
    font-weight: 400;
    color: $content-egg-colour;

    // transform: translateY(60px);
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-delay: 0;
    // opacity: 0;

    // !! animate > opacity: 1, transform: none
  }

  &_left {
    display: inline-block;
    vertical-align: top;
    width: 40%;
  }

  &_right {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding-left: 3.75rem;

    .works_summary_list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      &_item {
        position: relative;

        a {
          display: block;
          padding: 0.5rem 0;

          font-family: $primary-font;
          font-size: 2rem;
          font-weight: 400;
          color: $content-egg-colour;

          transition-property: color;
          transition-duration: 300ms;
          transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
          transition-delay: 0;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            // transform: scaleX(0);
            // !! animate > transform: scaleX(1)
            transition: transform 600ms cubic-bezier(0.215, 0.610, 0.355, 1) 0;
            background-color: $content-egg-colour;
          }
        }
      }
    }
  }
}

.cinemagicWrapper {
  @include noMargins();
  width: 100%;
  margin-top: 5rem;

  .leftWrapper {
    display: inline-block;
    vertical-align: top;
    width: 40%;
  }

  .rightWrapper {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding-left: 3.75rem;
  }

  
}