@use "@/styles/variables.scss";
@use "@/styles/partials.scss";
@use "@/styles/mixins.scss";

@import "@/styles/variables.scss";
@import "@/styles/partials.scss";
@import "@/styles/mixins.scss";

.container {
  @include flexCentering();

  flex-direction: column;
  z-index: 2;
  cursor: pointer;
  opacity: 1;

  animation: hideScrollIconAppearance 100ms 10ms forwards, scrollIconAppearance 3s 3s ease forwards;

  &:hover {
    opacity: 0.8 !important;
    
    p {
      color: $content-light-colour-highlight;
    }

    .icon {
      color: $content-light-colour-highlight;
    }
  }

  p {
    @include noMargins();

    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
    color: $content-light-colour;
    transition: 0.5s;
  }

  .icon {
    color: $content-light-colour;
    transition: 0.5s;
  }
}

@keyframes scrollIconAppearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideScrollIconAppearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}