@use "@/styles/variables.scss";
@use "@/styles/partials.scss";
@use "@/styles/mixins.scss";

@import "@/styles/variables.scss";
@import "@/styles/partials.scss";
@import "@/styles/mixins.scss";

.container {
  @include flexCentering();

  flex-direction: column;
  z-index: 2;
  cursor: pointer;
  opacity: 0;

  animation: scrollIconAppearance 3s 3s ease forwards;

  p {
    @include noMargins();

    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
    color: $content-light-colour;
  }
}

@keyframes scrollIconAppearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}