@use "@/styles/variables.scss";
@use "@/styles/partials.scss";
@use "@/styles/mixins.scss";

@import "@/styles/variables.scss";
@import "@/styles/partials.scss";
@import "@/styles/mixins.scss";

.mainCont {
  animation: bgChange 100ms 0s forwards;
}

@keyframes bgChange {
  to {
    background-color: $body-bg-colour;
  }
}

/* ABOUT SECTION =================================== */
.aboutWrapper {
  @include fillViewport();
  @include flexCentering();

  z-index: 0;
  opacity: 0;

  animation: revealWorksCont 1.5s 0s forwards;

  .glass {
    position: absolute;
    min-width: 95vw;
    min-height: 90vh;
    max-width: 95vw;
    max-height: 90vh;
    background: linear-gradient(-135deg, #1b263b, #0d1b2a, $body-bg-colour);
    background-size: 400% 400%;
    filter: blur(0.75rem);
    box-shadow: 0 0 1000px 0;
    z-index: 1;
    opacity: 0;

    animation: showOpacity 1.5s 0.5s ease forwards, bgGradient 15s 1s ease infinite;
  }

  .bg {
    @include fillViewport();

    position: absolute;
    background: linear-gradient(-135deg, #1b263b, #0d1b2a, $body-bg-colour);
    background-size: 400% 400%;
    opacity: 0;
    z-index: 1;
    
    animation: showOpacity 1.5s 0.5s ease forwards, bgGradient 15s 1s ease infinite;
  }
}

.aboutCont {
  @include fillViewport();
  @include flexCentering();
  
  flex-direction: column;
  position: relative;

  min-width: 95vw;
  min-height: 90vh;
  max-width: 95vw;
  max-height: 90vh;
  
  border: 0.33rem solid white;

  &::before {
    @include contentContPsuedo();

    width: 95vw;
    height: 80vh;

    // animation: revealHomeContentY var(--revealHomeContent-animation-time) 1500ms;
    // animation-fill-mode: forwards;
  }

  &::after {
    @include contentContPsuedo();

    width: 90vw;
    height: 90vh;
  
    // animation: revealHomeContentX var(--revealHomeContent-animation-time) 1500ms forwards, bgGradientInitX 5s 3.5s ease forwards, bgGradientContinueX 15s 10s ease infinite;
  }
}

.aboutCont.aboutContAnimate {
  background-color: transparent;

  &::before, &::after {
    display: block;
  }
}

@keyframes revealWorksCont {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.aboutContentWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100%;
  z-index: 2;

  &Left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &SocialsWrapper {
      display: flex;
      justify-content: space-between;
      max-width: 25rem;

      .socialIcons {
        width: 4rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &Right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    max-width: 66%;

    &Title {
      @include noMargins();

      font-family: $primary-font;
      font-size: 3rem;
      font-weight: 400;

      opacity: 0.75;
      color: $content-light-colour;
      text-shadow: -1px 0 $content-light-colour, 
                    0 1px $content-light-colour, 
                    1px 0 $content-light-colour, 
                    0 -1px $content-light-colour;
    }

    &Subtitle {
      @include noMargins();

      color: white;
      font-family: $primary-font;
      font-size: 2rem;
      font-weight: 300;
    }

    &Para {
      color: white;
      font-family: $primary-font;
      font-weight: 200;
    }
  }
  
  .headshot {
    max-width: 25rem;
    height: auto;
    border-radius: 1rem;
  }
}