@use "@/styles/variables.scss";
@use "@/styles/partials";

@import "@/styles/variables.scss";
@import "@/styles/_partials.scss";

@mixin barPsuedo {
  content: "";
  display: none;
  position: absolute;
  inset: 0;
}

.bar {
  position: relative;

  width: 5vw;
  height: 5vh;
  
  background-color: $body-bg-colour;
  border: none;
  border-radius: 1em;
  z-index: -1;

  &::before {
    @include barPsuedo();

    border-radius: 1em;

    background-color: $body-bg-colour;
  
    animation: expandX var(--expand-animation-time);
    animation-fill-mode: forwards;
  }

  &::after {
    @include barPsuedo();

    left: -1%;
    right: -1%;
    top: 40%;
    bottom: 40%;
  
    background-color: $body-bg-colour;
  
    animation: expandY var(--reallyExpand-animation-time) var(--expand-animation-time) forwards;
  }
}

.bar.animating {
  background-color: transparent;

  &::before, &::after {
    display: block;
  }
}

@keyframes expandX {
  100% {
    left: -999%;
    right: -999%;
    top: 40%;
    bottom: 40%;
  }
}

@keyframes expandY {
  1% {
    left: -998%;
    right: -998%;
  }

  100% {
    top: -999%;
    bottom: -999%;
    left: -999%;
    right: -999%;
  }
}

// @keyframes bgGradient { 
//   0% {
//     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
//     background-size: 400% 400%;
//     background-position: 0% 50%;
//   }
//   50% {
//     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
//     background-size: 400% 400%;
//     background-position: 100% 50%;
//   }
//   100% {
//     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
//     background-size: 400% 400%;
//     background-position: 0% 50%;
//   }
// }