.welcomeCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 2;
}

.welcomeCont h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  color: var(--content-light-colour);
  
  margin: 0;
  padding: 0;

  width: auto;
  max-width: 0%;
  overflow: hidden;
  white-space: nowrap;

  opacity: 1;

  animation: fadeHelloIn var(--fadeHelloIn-animation-time) ease-out 2000ms forwards;
}

.welcomeCont h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: var(--content-light-colour);
  
  margin: 0;
  padding: 0;

  width: auto;
  max-width: 0%;
  overflow: hidden;
  white-space: nowrap;

  opacity: 1;

  animation: fadeHelloIn var(--fadeHelloIn-animation-time) ease-out 2500ms forwards;
}

.welcomeCont h1 *,
.welcomeCont h2 * {
  display: inline-block;
}

.welcomeCont h1:hover *,
.welcomeCont h2:hover * {
  cursor: default;
}

.welcomeCont h1 *:hover,
.welcomeCont h2 *:hover {
  cursor: default;
  color: var(--content-highlight-colour);
  /* font-size: calc(100% + 0.5rem); */
  transform: scale(1.1) perspective(1rem);
  transition: color 100ms, transform 100ms;
}

@keyframes fadeHelloIn {
  from {
    max-width: 0%;
  }
  to {
    max-width: 100%;
  }
}

#period {
  opacity: 0;

  animation: blink 1s steps(2, jump-none) infinite;
}

@keyframes blink {
  to {
    opacity: 1;
  }
}