@use "@/styles/variables.scss";
@use "@/styles/partials.scss";
@use "@/styles/mixins.scss";

@import "@/styles/variables.scss";
@import "@/styles/partials.scss";
@import "@/styles/mixins.scss";

.contentWrapper {
  padding: 0 3rem;
}

.skillsWrapper {
  margin: 5rem 0 0 0;
  position: relative;
  width: 100%;

  @include screen-xl {
    margin: 3rem 0 0 0;
  }

  h2 {
    font: 400 7.5vw /2 $primary-font;
    color: $content-egg-colour;
    margin: 0;
  }

  ul {
    list-style-type: none;
  }

  details[open] summary ~ * {
    animation: reveal 500ms ease-in-out;
  }

  summary {
    font-size: 2.33rem;
    color: $content-egg-colour;

    &:hover {
      cursor: pointer;
    }
  }

  .li {
    &_title {
      font: 300 5vw /1.66 $primary-font;
      color: $content-egg-colour;
      margin: 0;
      opacity: 0.25;

      transition-property: opacity;
      transition-duration: 500ms;

      &_iv {
        opacity: 1;
      }

      @include screen-sm {
        font-size: 1rem;
      }
    }

    &_sub {
      font: 300 3.5vw /1.5 $primary-font;
      color: $content-egg-colour;
      margin: 0;
      opacity: 0.25;
      padding-left: 7.5rem;

      transition-property: opacity;
      transition-duration: 500ms;

      @include screen-sm {
        padding-left: 0;
      }

      &_iv {
        opacity: 1;
      }
    }
  }
}

.spacingDiv {
  padding-top: 7.5rem;

  @include screen-xl {
    padding-top: 5rem;
  }

  @include screen-sm {
    padding-top: 3rem;
  }
}

.header_hr {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;

  display: block;
  height: 1px;
  padding: 0;
  width: 100%;
  border-top: 1px solid #ffffff;

  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0ms;

  &_iv {
    transform-origin: left;
    transform: scaleX(1);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
