@use "@/styles/variables.scss";
@use "@/styles/partials.scss";
@use "@/styles/mixins.scss";

@import "@/styles/variables.scss";
@import "@/styles/partials.scss";
@import "@/styles/mixins.scss";

.contentWrapper {
  padding: 0 3rem;
  position: relative;
}

.homeWrapper {
  @include noMargins();
  @include fillViewport();

  @include screen-sm {
    min-height: 50vh;
  }

  .header {
    position: relative;
    height: 100vh;

    @include screen-sm {
      height: 50vh;
    }

    &_title {
      position: absolute;
      bottom: 2rem;
      left: 0;
      margin: 0;

      perspective: 600px;

      &_line {
        display: block;

        transform-origin: center top;
        transform-style: preserve-3d;
        transition-property: opacity, transform;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-duration: 1s;
        transform: translateY(100%) rotateX(-80deg);
        opacity: 0;

        &_text {
          font-family: $primary-font;
          font-size: 12vw;
          font-weight: 500;
          line-height: 1.1;
          color: $content-egg-colour;
        }

        &_iv {
          transform: none;
          opacity: 1;
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }

        #frontEndDev {
          font-size: 7vw;
          font-weight: 400;
        }
      }

      &_line2 {
        display: inline-block;

        transform-origin: center top;
        transform-style: preserve-3d;
        transition-property: opacity, transform;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-duration: 1s;
        transform: translateY(100%) rotateX(-80deg);
        opacity: 0;

        &_text {
          font-family: $primary-font;
          font-size: 7vw;
          font-weight: 400;
          line-height: 1.1;
          color: $content-egg-colour;
        }

        &_iv {
          transform: none;
          opacity: 1;
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }

        #frontEndDev {
          font-size: 7vw;
          font-weight: 400;
        }
      }
    }

    &_hr {
      position: absolute;
      bottom: 0;
      left: 0;
      // right: 0;
      margin: 0;

      display: block;
      height: 1px;
      padding: 0;
      width: 100%;
      border-top: 1px solid #ffffff;

      transform: scaleX(0);
      transition-property: transform;
      transition-duration: 1000ms;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-delay: 0ms;

      &_iv {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
}

.spline {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: 0;

  @include screen-2xl {
    transform: scale(0.8);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  @include screen-xl {
    transform: scale(0.6);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  @include screen-lg {
    transform: scale(0.4);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  @include screen-md {
    transform: scale(0.3);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  @include screen-sm {
    transform: scale(0.33);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes slideUpName {
  from {
    transform: translateY(100%) rotateX(-80deg);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes slideUpRole {
  from {
    transform: translateY(100%) rotateX(-80deg);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
