/*! @use for future deprecation by sass */
@use "variables.scss";
@use "_partials.scss";

@import "variables.scss";
@import "_partials.scss";

/* :root for css */
:root {
  /* animation timings */
  --expand-animation-time: 1000ms;
  --reallyExpand-animation-time: 500ms;
  --revealHomeContent-animation-time: 1500ms;
  --fadeHelloIn-animation-time: 1500ms;
  --fadeNavIn-animation-time: 1000ms;
  /* colours */
  --content-light-colour: #FFFFFF;
  --content-highlight-colour: deepskyblue;
}

html,
body {
  @include fillViewport;
  @include flexCentering;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overflow: hidden;

  scroll-behavior: smooth;
}

main {
  @include fillViewport;
  @include flexCentering;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  max-width: 6rem;

  a {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 200;
    color: $content-light-colour;
    transition: 0.5s;
  
    &:hover {
      color: $content-light-colour-highlight;

      transform: scale(1.1);
    }
  }
}

* {
  box-sizing: border-box;
}

