/*! @use for future deprecation by sass */
@use "variables.scss";
@use "_partials.scss";
@use "@/styles/mixins.scss";

@import "variables.scss";
@import "_partials.scss";
@import "@/styles/mixins.scss";

/* :root for css */
:root {
  /* animation timings */
  --expand-animation-time: 1000ms;
  --reallyExpand-animation-time: 500ms;
  --revealHomeContent-animation-time: 1500ms;
  --fadeHelloIn-animation-time: 1500ms;
  --fadeNavIn-animation-time: 1000ms;
  /* colours */
  --content-light-colour: #ffffff;
  --content-highlight-colour: deepskyblue;
}

html,
body {
  @include fillViewport();
  @include flexCentering();
  @include noMargins();

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overflow-x: hidden;

  scroll-behavior: smooth;

  // animation: bgChange 100ms 1500ms forwards;
}

main {
  @include fillViewport();
  @include flexCentering();
  flex-direction: column;

  // background: linear-gradient(-135deg, #2d3c58 , #14283d);
  background-color: #121316;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// @keyframes bgChange {
//   to {
//     background-color: $body-bg-colour;
//   }
// }
