@use "@/styles/variables.scss";
@use "@/styles/partials.scss";
@use "@/styles/mixins.scss";

@import "@/styles/variables.scss";
@import "@/styles/partials.scss";
@import "@/styles/mixins.scss";

.contentWrapper {
  padding: 0 3rem;
}

.worksDisplayWrapper {
  @include noMargins();
  width: 100%;

  &_left {
    display: inline-block;
    vertical-align: top;
    width: 40%;
  }

  &_right {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding-left: 3.75rem;
  }
}
