/*! screen breakpoints */
$screen-xs: 22rem; // 352px
$screen-sm: 30rem; // 480px
$screen-md: 48rem; // 768px
$screen-lg: 62rem; // 992px
$screen-xl: 80rem; // 1280px
$screen-2xl: 96rem; // 1536px

/*! colours */
$content-light-colour: #FFFFFF;
$content-egg-colour: #daddd8;
$content-light-colour-highlight: deepskyblue;
$content-dark-colour: #000000;
$content-dark-colour-highlight: darkgoldenrod;
$body-bg-colour: #1D1F20;

/*! sizes */
$vp-width: 100vw;
$vp-height: 100vh;

/*! fonts */
$primary-font: "Poppins", sans-serif;

/*! background images */
$blue-city-img: "/blueCityScape.jpg";
$orange-city-img: "/orangeCityScape.jpg";