/*! colours */
$content-light-colour: #FFFFFF;
$content-light-colour-highlight: deepskyblue;
$body-bg-colour: #1D1F20;

/*! sizes */
$vp-width: 100vw;
$vp-height: 100vh;

/*! fonts */
$primary-font: "Poppins", sans-serif;